<a href="https://colab.research.google.com/github/a3797/class2022Spring/blob/main/requests_gradio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [ ]:
requests.get(URL)

In [30]:
URL = ('http://apis.data.go.kr/B552584/ArpltnStatsSvc/'
      'getCtprvnMesureSidoLIst?'
      'sidoName=서울'
      '&searchCondition=hour'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=miH%2BZXg85lQy4%2FkmhffvygXDIFiTwisriSLxtyECSzw6hxTVK7yI8QKIOc7mP7LEqCnhBGuj6iW1gZW65dum7A%3D%3D')
response = requests.get(URL)

URL/이용할 세부 서비스?/여러개 쓸 때는 & 사용

In [31]:
response

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

returnytpe이 json이므로 json으로 받아야함

In [33]:
print(type(r))

<class 'dict'>

In [34]:
items = r['response']['body']['items']

cityName = [item['cityName'] for item in items]
pm10Value = [item['pm10Value'] for item in items]
pm25Value = [item['pm25Value'] for item in items]
so2Value = [item['so2Value'] for item in items]
coValue = [item['coValue'] for item in items]
o3Value = [item['o3Value'] for item in items]
no2Value = [item['no2Value'] for item in items]

cityName = pd.Series(cityName)
pm10Value = pd.Series(pm10Value)   
pm25Value = pd.Series(pm25Value)
so2Value = pd.Series(so2Value)
coValue = pd.Series(coValue)
o3Value = pd.Series(o3Value)
no2Value = pd.Series(no2Value)

df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})

In [20]:
df

   cityName pm10Value pm25Value so2Value coValue o3Value no2Value
0       강남구        52        31    0.003     0.5   0.035    0.032
1       강동구        53        30    0.002     0.4   0.041    0.018
2       강북구        72        47    0.003     0.7   0.021    0.036
3       강서구        55        34    0.003     0.6   0.034    0.035
4       관악구        65        42    0.003     0.7   0.033    0.038
5       광진구        56        38    0.004     0.5   0.038    0.028
6       구로구        54        35    0.003     0.5   0.037    0.025
7       금천구        45        26    0.003     0.4   0.043    0.020
8       노원구        58        39    0.003     0.5   0.049    0.016
9       도봉구        52        38    0.004     0.5   0.041    0.022
10     동대문구        66        40    0.003     0.5   0.041    0.031
11      동작구        52        31    0.003     0.4   0.047    0.023
12      마포구        64        49    0.003     0.6   0.035    0.035
13     서대문구        55        27    0.003     0.5   0.048    0.023
14      서초구        53        34    0.002     0.5   0.039    0.024
15      성동구        63        36    0.004     0.4   0.027    0.023
16      성북구        64        36    0.003     0.5   0.034    0.034
17      송파구        51        26    0.004     0.5   0.047    0.025
18      양천구        58        36    0.003     0.6   0.031    0.036
19     영등포구        70        55    0.003     0.6   0.032    0.035
20      용산구        55        34    0.003     0.5   0.028    0.035
21      은평구        58        40    0.002     0.5   0.047    0.020
22      종로구        64        40    0.004     0.6   0.038    0.034
23       중구        59        44    0.004     0.8   0.026    0.050
24      중랑구        54        31    0.003     0.5   0.041    0.026

In [ ]:
items=r['response']['body']['items']
items

In [ ]:
  cityName = [item['cityName'] for item in items]
  pm10Value = [item['pm10Value'] for item in items]
  pm25Value = [item['pm25Value'] for item in items]
  so2Value = [item['so2Value'] for item in items]
  coValue = [item['coValue'] for item in items]
  o3Value = [item['o3Value'] for item in items]
  no2Value = [item['no2Value'] for item in items]

  cityName = pd.Series(cityName)
  pm10Value = pd.Series(pm10Value)   
  pm25Value = pd.Series(pm25Value)
  so2Value = pd.Series(so2Value)
  coValue = pd.Series(coValue)
  o3Value = pd.Series(o3Value)
  no2Value = pd.Series(no2Value)

  df = pd.DataFrame({ 'cityName': cityName, 'pm10Value': pm10Value, 'pm25Value': pm25Value, 'so2Value': so2Value, 'coValue': coValue, 'o3Value': o3Value, 'no2Value': no2Value})
  return df

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주', '세종']), outputs=['dataframe'])
iface.launch(debug=True)